{% extends 'base.html' %}

{% block contenido %}

    <div id="contendorMain">

      <div class="contenedorGraficas">

        <div class="carrusel">
            <div class="grafica">
                <canvas id="myChart"></canvas>
            </div>
            <div class="grafica">
                <canvas id="myChart2"></canvas>
            </div>
            <div class="grafica">
                <canvas id="myChart3"></canvas>
            </div>
            <div class="grafica">
                <canvas id="myChart4"></canvas>
            </div>
        </div>

    </div>
        <div id="hilos">
        <div class="contenedorHilos">
            <p class="subtittleHijos">Registro Logins</p>
            <div class="auxScrollBar">
                <table id="tabla1" class="tablaRegistros" >
                    <thead>
                        <tr id="cabezeraTabla1">
                            <th>Nivel Riesgo</th>
                            <th>Fecha</th>
                            <th>Dirección IP</th>
                            <th>Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in recent_logs %}
                        <tr>
                            <td>{{ log.get_risk_level_display }}</td>
                            <td>{{ log.timestamp|date:"d F" }}</td>
                            <td>{{ log.ip_address }}</td>
                            <td>{{ log.description }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No recent logs found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button id="btnAgregar">Agregar fila</button>
        </div>
        <div class="contenedorHilos">
            <p class="subtittleHijos">Eventos</p>
            <div class="auxScrollBar">
                <table id="tabla2" class="tablaEstadisticas">
                   <thead>
                                <tr>
                                    <th>Tipo de eventos</th>
                                    <th>Numero de incidencias</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Staff Accessed Account</td>
                                    <td>{{ staff_access_count }}</td>
                                </tr>
                                <tr>
                                    <td>Failed Staff Login Attempt</td>
                                    <td>{{ staff_failed_login }}</td>
                                </tr>
                                <tr>
                                    <td>Failed User Login Attempt</td>
                                    <td>{{ user_failed_login }}</td>
                                </tr>
                            </tbody>
                </table>
            </div>

        </div>
    </div>

    </div>

    <script>
          let arrow = document.querySelectorAll(".arrow");
          for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e)=>{
           let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
           arrowParent.classList.toggle("showMenu");
            });
          }
          let sidebar = document.querySelector(".sidebar");
          let sidebarBtn = document.querySelector(".bx-menu");
          console.log(sidebarBtn);
          sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");
          });
  </script>

    <script>

        // Gráfica de Dona
    var ctx2 = document.getElementById('myChart2').getContext('2d');
    var myDoughnutChart = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: ['Bajo', 'Medio', 'Alto'],
            datasets: [{
                label: 'Registros de incidentes',
                data: [{{ low_risk_count }},
                    {{ medium_risk_count }},
                    {{ high_risk_count }},
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(153, 102, 255, 0.6)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
        }
    });

    </script>

  <script>


    // Gráfica de Área Polar
    var ctx3 = document.getElementById('myChart3').getContext('2d');
    var myPolarAreaChart = new Chart(ctx3, {
        type: 'polarArea',
        data: {
            labels: ['Login Staff', 'Failed Login Staff', 'Failed user'],
            datasets: [{
                label: 'Descripción',
                data: [{{ staff_access_count }},
                        {{ staff_failed_login }},
                        {{ user_failed_login }},
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(201, 203, 207, 0.6)',
                    'rgba(54, 162, 235, 0.6)'
                ]
            }]
        },
        options: {
            scales: {
                r: {
                    angleLines: {
                        display: false
                    },
                    suggestedMin: 0,
                    suggestedMax: 10
                }
            },
            responsive: true,
            maintainAspectRatio: false
        }
    });
  </script>

      <script>


    // Gráfica de Área Polar
    var ctx3 = document.getElementById('myChart4').getContext('2d');
    var myPolarAreaChart = new Chart(ctx3, {
        type: 'polarArea',
        data: {
            labels: ['Login Staff', 'Failed Login Staff', 'Failed user'],
            datasets: [{
                label: 'Descripción',
                data: [{{ staff_access_count }},
                        {{ staff_failed_login }},
                        {{ user_failed_login }},
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(201, 203, 207, 0.6)',
                    'rgba(54, 162, 235, 0.6)'
                ]
            }]
        },
        options: {
            scales: {
                r: {
                    angleLines: {
                        display: false
                    },
                    suggestedMin: 0,
                    suggestedMax: 10
                }
            },
            responsive: true,
            maintainAspectRatio: false
        }
    });
  </script>


    <script>
    // Gráfica de Barras
    var ctx1 = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: ['Riesgo bajo', 'Riesgo medio', 'Riesgo alto'],
            datasets: [{
                label: 'Registro por niveles de riesgo',
                data: [{{ low_risk_count }},
                        {{ medium_risk_count }},
                        {{ high_risk_count }},
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.4)',
                    'rgba(54, 162, 235, 0.4)',
                    'rgba(255, 206, 86, 0.4)',
                    'rgba(75, 192, 192, 0.4)',
                    'rgba(153, 102, 255, 0.4)',
                    'rgba(255, 159, 64, 0.4)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            responsive: true,
            maintainAspectRatio: false
        }
    });
</script>
    <script>
    // Inicialización del carrusel con Slick
    $(document).ready(function(){
        $('.carrusel').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 2,
            slidesToScroll: 2
        });
    });
    </script>

<script>
    document.getElementById('btnAgregar').addEventListener('click', function() {
        var tabla = document.getElementById('tabla1').getElementsByTagName('tbody')[0];
        var nuevaFila = tabla.insertRow(tabla.rows.length);

        var celda1 = nuevaFila.insertCell(0);
        var celda2 = nuevaFila.insertCell(1);
        var celda3 = nuevaFila.insertCell(2);
        var celda4 = nuevaFila.insertCell(3);

        celda1.innerHTML = 'Nuevo dato 1';
        celda2.innerHTML = 'Nuevo dato 2';
        celda3.innerHTML = 'Nuevo dato 3';
        celda4.innerHTML = 'Nuevo dato 4';
    });
</script>
<script>
    document.getElementById('btnAgregar').addEventListener('click', function() {
        var tabla = document.getElementById('tabla2').getElementsByTagName('tbody')[0];
        var nuevaFila = tabla.insertRow(tabla.rows.length);

        var celda1 = nuevaFila.insertCell(0);
        var celda2 = nuevaFila.insertCell(1);
        var celda3 = nuevaFila.insertCell(2);
        var celda4 = nuevaFila.insertCell(3);

        celda1.innerHTML = 'Nuevo dato 1';
        celda2.innerHTML = 'Nuevo dato 2';
        celda3.innerHTML = 'Nuevo dato 3';

    });
    </script>

{% endblock contenido %}
